@page
@model WebApplication1.Pages.GymMachines.IndexModel

@{
    ViewData["Title"] = "Maszyny";
}

<h1>Maszyny</h1>

<<<<<<< HEAD
@if (Model.CanManageGym)
{
    <p>
        <a asp-page="Create" class="btn btn-success">Dodaj maszyne</a>
    </p>
}
=======
<p>
    <a asp-page="Create" class="btn btn-success">Dodaj maszyne</a>
</p>
>>>>>>> origin/master

<table class="table table-striped shadow-sm mt-3">
    <thead class="table-dark">
        <tr>
            <th>Nazwa</th>
            <th>Status</th>
            <th>Sekcja</th>
            <th>Cwiczenia</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Maszyny)
        {
            <tr>
                <td>@item.Nazwa</td>
                <td>@item.Status</td>
                <td>@item.Sekcja.Nazwa</td>
                <td>@item.Cwiczenia.Count</td>
                <td>
<<<<<<< HEAD
                    @if (Model.CanManageGym)
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edytuj</a>
                    }
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Szczegoly</a>
                    @if (Model.CanManageGym)
                    {
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Usun</a>
                    }
=======
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edytuj</a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Szczegoly</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Usun</a>
>>>>>>> origin/master
                </td>
            </tr>
        }
    </tbody>
</table>
